div.theme-default-content:not(.custom) {
    max-width: 100%;
}
blockquote {
    color: #000;
    border-left: 4px solid #64b5f6;
    border-top: 1px solid #64b5f6;
}
.home .hero img {
    max-height 240px !important;
}